<!-- <app-landingpage></app-landingpage> -->
<!-- <p>{{this.firstname}}</p>
<p>{{this.address}}</p>
<p>{{this.email}}</p>
<div>{{firstname}}</div> -->
<!-- <p>{{this:ObjectName.firstname}}</p> -->

<!-- <app-landingpagetwo></app-landingpagetwo>

<div class="{{secstyling}}">
    How are you doing?
</div>

<div *ngFor="let obj of array3, let i=index">
<button (click)="checkindex(i)">check</button>
<p>{{obj.firstname}}</p>
</div>

<input type="text" class={{firststlying}}>
<input type="text" class={{firststlying}}>

<div [style.color]="special? 'red':'blue'" [style.background-color]="special?'black':'white'" [style.display]="special? 'block':'none'">
   hello, everyone
</div>
<button (click)="check()">
    check
</button> -->

<router-outlet></router-outlet>