<p>signup works!</p>

<div class="form-box">
    <form class="form">
        <span class="title">Sign up</span>
        <div class="form-container">
            <input type="text" placeholder="FirstName"  [(ngModel)]="FirstName">
           <input type="text"  placeholder="LastName" [(ngModel)]="LastName">
            <input type="email" placeholder="Email" [(ngModel)]="Email">
            <input type="text" placeholder="Age" [(ngModel)]="Age">
            <input type="password" placeholder="Password" [(ngModel)]="Password">
        </div>
        <button onclick="signup()">Sign up</button>
    </form>
    <div class="form-section">
    </div>
    </div>